.App {
  width: 100%;
  height: 100%;
}

.content-area {
  height: calc(100vh - 80px);
  /* Subtract Navbar height */
  height: calc(100dvh - 80px);
  overflow: hidden;
  position: relative;
  background-color: var(--bg-color);
}

.placeholder-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  padding: 20px;
  color: var(--text-color);
}

.placeholder-view h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: var(--primary-dark);
}

.placeholder-view p {
  color: var(--text-light);
}